body{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    border: .6px solid gray;
    background: rgba(128, 128, 128, 0.5);
    padding: 15px;
    border-radius: 15px;
}