<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <h1>Sending an Email</h1>
    <from action="" method="">
        <label for="email">
            <input id="email" name="email" type="email" placeholder="example@email.com">
        </label>
        <label for="subject">
            <input id="subject" name="subject" type="text" placeholder="My mail">
        </label>
        <label for="message">
            <texarea id="message" name="message" placeholder="Messge goes here...">
            </textarea>
        </label>
        <input type="submit" name="submit" value="Submit">
        <input type="reset" name="reset" value="Reset">
    </form>
</body>
</html>